{% extends 'base.html' %}

{% block title %}
About
{% endblock %}


{% block content %}
<h2 class="text-center mt-2">About Us</h2>
<p>
    <div class="text-center mt-5">
        The vision ‘affordable, accessible and quality healthcare for all’, 
        a dream of visionary, Dr. K G Alexander was made a reality in 1987 with
         the commencement of Baby Memorial Hospital (BMH). The novel initiative 
         then marked a revolution in the healthcare segment in Kerala, thus 
         symbolizing an answer for the growing healthcare demands of the state. 
         A tribute to late K C Varghese (known as ‘Baby’), father of Dr. K G Alexander
         , the Chairman and Managing Director, 
        the hospital has set a benchmark in offering unprecedented care.
    </div>

</p>
{% endblock %}